@{
    ViewBag.Title = "AuthorityList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="layui-larry-box">
    <div class="larry-personal">
        <div class="layui-tab">
            <blockquote class="layui-elem-quote mylog-info-tit">
                角色权限管理
            </blockquote>
            <div class="larry-separate"></div>
            <div class="layui-tab-content larry-personal-body clearfix mylog-info-box">
                <div class="search-area">
                    <div class="sa-ele">
                        <label class="se-title">角色名称：</label>
                    </div>
                    <div class="sa-ele">
                        <input class="layui-input" id="keywords" name="keywords" />
                    </div>
                    <div class="sa-ele">
                        <a class="layui-btn layui-btn-normal" id="search-action"><i class="layui-icon">&#xe615;</i>查询</a>
                        <a class="layui-btn layui-btn-primary" id="reset-action"><i class="layui-icon">&#xe65c;</i>重置</a>
                        <li class="layui-btn layui-btn-warm" onclick="addRole();"><i class="fa fa-desktop"></i>添加角色</li>
                    </div>
                </div>
                <!-- layui.table 开始 -->
                <table id="datalist" lay-filter="datalist"></table>
                <script type="text/html" id="enableTpl">
                    @if (ViewBag.EditFlag)
                    {
                        <input type="checkbox" name="enableState" value="{{d.RoleId}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="enableState" {{ d.Enable== 1 ? 'checked' : '' }}>
                    }
                    else
                    {
                        <span>{{# if(d.Enable == 1){ }} 启用 {{# } else { }} 禁用 {{# } }}</span>
                    }
                </script>
                <script type="text/html" id="barlist">
                    @if (ViewBag.EditFlag)
                    {
                        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="auth">设置权限</a>
                    }
                </script>
                <!-- layui.table 结束 -->
            </div>
        </div>
    </div>
</section>
<!-- 添加、编辑角色信息弹出框 -->
<div id="infoDialog" class="larry-personal" style="display: none">
    <div class="larry-personal-body clearfix">
        <form class="layui-form col-lg-10" action="" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">角色名称：</label>
                <div class="layui-input-block">
                    <input type="text" id="RoleName" name="RoleName" autocomplete="off" class="layui-input">
                    <input type="hidden" id="RoleId" name="RoleId" />
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <a class="layui-btn" lay-submit="" lay-filter="" onclick="saveInfo();">提交</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    var table = null;
    var tableIns = null;
    var dialogId;
    layui.use(['table'], function() {
        table = layui.table;
        var keywords = $("#keywords").val();

        tableIns = table.render({
            elem: '#datalist'
            , id: 'datalist'
            , height: 'full'
            , page: true  //是否分页
            , limits: [10, 20, 50, 100]
            , limit: 10
            , loading: true //显示加载条
            , even: true
            //, method: 'post'
            ,url: '@Url.Action("GetAuthorityList", "Settings", new {area = "Admin"})' //请求地址
            , where: { keywords: keywords } //请求参数
            ,cols: [[
                    // { checkbox: true, fixed: true }
                    //, { field: 'RoleId', title: '角色编号' }
                   { field: 'RoleName', title: '角色',align: 'center' }
                    , { title: '状态', align: 'center', width:100, templet: '#enableTpl' }
                    , { title: '操作', width: 200, align: 'center', toolbar: '#barlist' }
                ]]
            , request: {
                pageName: 'cPage' //页码的参数名称，默认：page
                , limitName: 'pSize' //每页数据量的参数名，默认：limit
            }
            , response: {
                statusName: 'status' //数据状态的字段名称，默认：code
                , statusCode: 200 //成功的状态码，默认：0
                , msgName: 'msg' //状态信息的字段名称，默认：msg
                , countName: 'totals' //数据总数的字段名称，默认：count
                , dataName: 'data' //数据列表的字段名称，默认：data
            }
            ,done: function(res, curr, count) {
            }
        });

        //监听工具条
        table.on('tool(datalist)', function(obj) {
            var data = obj.data;
            if (obj.event === 'auth') {
                setAuth(data);
            } else if (obj.event === 'edit') {
                editRole(data);
            }
        });

        //监听操作
        form.on('switch(enableState)', function (obj) {
            var state = 0;
            if (obj.elem.checked) {
                state = 1;
            }
            setEnableState(this.value, state);
        });
    });

    //刷新数据列表
    function reloadData(pageIndex) {
        var keywords = $("#keywords").val();
        table.reload('datalist', {
            where: { keywords: keywords }
            , page: { curr: pageIndex }
        });
    }

    // 绑定搜索事件
    $('#search-action').on('click', function() {
        reloadData(1);
    });

    // 绑定重置
    $('#reset-action').on('click', function() {
        $("#keywords").val('');
        reloadData(1);
    });
</script>
<script>
    //Add
    function addRole() {
        $("#RoleId").val('');
        $("#RoleName").val('');
        dialogId = layer.open({
            type: 1,
            title: '添加角色',
            maxmin: true,
            area: ['30%', '30%'],
            content: $('#infoDialog')
        });
        //layer.full(dialogId);
    }

    //Edit
    function editRole(data) {
        $("#RoleId").val(data.RoleId);
        $("#RoleName").val(data.RoleName);
        dialogId = layer.open({
            type: 1,
            title: '编辑角色',
            maxmin: true,
            area: ['30%', '30%'],
            content: $('#infoDialog')
        });
        //layer.full(dialogId);
    }

    //提交
    function saveInfo() {
        var errstr = '';
        var url = '';
        var param = {};
        var roleId = $("#RoleId").val();
        var roleName = $("#RoleName").val();
        if (roleName.length == 0) {
            errstr += '角色名称不能为空<br/>';
        }
        if (errstr != "") {
            layer.msg(errstr, { icon: 8, time: 3000 });
            return false;
        }
        var pageIndex = 1;
        if (roleId == '') {
            url = '@Url.Action("AddSysRole", "Settings", new {area = "Admin"})';
            param = {
                roleName: roleName
            };
        }
        else {
            url = '@Url.Action("EditSysRole", "Settings", new {area = "Admin"})';
            param = {
                roleId: roleId,
                roleName: roleName
            };
            pageIndex = $('.layui-laypage-curr ').text();
        }
        //执行ajax请求
        $.post(url, param, function (data) {
            if (data.state == "true") {
                layer.msg(data.content, { icon: 1, time: 2000 });
                layer.close(dialogId);
                reloadData(pageIndex);
            } else {
                layer.msg(data.content, { icon: 2, time: 3000 });
            }
        }, "json");
        return false;
    }

    //启用、禁用
    function setEnableState(roleId, state) {
        $.post('@Url.Action("UpdateSysRoleEnableState", "Settings", new {area = "Admin"})', { roleId: roleId, state: state }, function (data) {
            if (data.state == "true") {
                layer.msg(data.content, { icon: 1, time: 2000 });
            } else {
                layer.msg(data.content, { icon: 2, time: 3000 });
            }
        }, "json");
    }

    //编辑权限
    function setAuth(data) {
        dialogId = layer.open({
            type: 2,
            title: data.RoleName +' - 编辑权限',
            maxmin: true,
            area: ['90%', '90%'],
            content: '@Url.Action("AuthDetail", "Settings", new { area = "Admin" })?roleId=' + data.RoleId
        });
        //layer.full(dialogId);
    }

</script>